<div class="social-container columns is-vcentered">

  <div class="column is-one-third">

    <a class="social-tile" [href]="links.twitter" target="_blank" rel="noopener" (click)="clickEvent('twitter')">

      <figure class="image is-square container social-icon">

        <img src="../../../assets/images/twitter/Twitter_Social_Icon_Rounded_Square_Color.svg">

      </figure>

    </a>


  </div>

  <div class="column is-one-third">

    <a class="social-tile" [href]="links.github" target="_blank" rel="noopener" (click)="clickEvent('github')">

      <figure class="image is-square container social-icon">

        <img src="../../../assets/images/github.svg">

      </figure>

    </a>

  </div>

  <div class="column is-one-third">

    <a class="social-tile" [href]="links.linkedin" target="_blank" rel="noopener" (click)="clickEvent('linkedin')">

      <figure class="image is-square container social-icon">

        <img src="../../../assets/images/linkedin/LI-In-Bug.png">

      </figure>

    </a>

  </div>

</div>
